
<mat-card >
  <mat-card-header class="main-div">
    <mat-card-title>John Doe</mat-card-title>
    <mat-card-subtitle>Just a guy looking for friends</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>This is some interest</mat-grid-tile>
      <mat-grid-tile>This is some hobbies</mat-grid-tile>

    </mat-grid-list>
  </mat-card-content>

</mat-card>

<mat-card>

  <mat-card-content>
    <div class="button-row">
      <button mat-raised-button color="primary">Message this friend</button>
    </div>

  </mat-card-content>

</mat-card>
