<mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let connection of connections" class="connection-card" hideToggle [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title >
            <mat-card-title><mat-icon>face</mat-icon> {{connection.name}} </mat-card-title>
        </mat-panel-title>
        <mat-panel-description>
            {{connection.distance}} miles away from you  
        </mat-panel-description>
        <mat-icon *ngIf="this.service.bool" (click)="this.service.addFriend(connection.name)" type="button" class="add-connection">add_circle</mat-icon>
        

        <mat-icon *ngIf="!this.service.bool" (click)="this.service.addFriend(connection.name)" type="button" class="add-connection">check_circle</mat-icon>
          <!-- <ng-template #elseBlock><mat-icon (click)="this.service.addFriend(connection.name)" type="button" class="add-connection">check_circle</mat-icon></ng-template> -->
         
      </mat-expansion-panel-header>
      <mat-card-content>
          
          <mat-card-subtitle>Bio: {{connection.bio}}</mat-card-subtitle>
        </mat-card-content>
    </mat-expansion-panel>
  </mat-accordion>