.header1{
    text-align: center
}

.example-card {
    max-width: 600px;
    height: 600px;  
    max-height: 750px;
    margin-left: auto;
    margin-right: auto  
  }
  
  .example-header-image {
    background-image: url('https://avatars1.githubusercontent.com/u/19433228?s=400&u=79cf719d209d08079833e0854b3ccf32a772dd73&v=4');
    background-size: cover;
  }
